<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">

	<context:component-scan base-package="com.company.project.mvc" />

	<!-- 用 annotation 來進行 (controller 等等) -->
	<mvc:annotation-driven />
	
	<mvc:default-servlet-handler />

	<!-- Tiles 3 setting -->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.UrlBasedViewResolver">
		<property name="viewClass">
			<value>
				org.springframework.web.servlet.view.tiles3.TilesView
			</value>
		</property>
	</bean>
	<bean id="tilesConfigurer"
		class="org.springframework.web.servlet.view.tiles3.TilesConfigurer">
		<property name="definitions">
			<list>
				<value>/WEB-INF/tiles.xml</value>
			</list>
		</property>
	</bean>

	<!-- Declare all static resources -->
	<!-- 所有 URL 為 static 路徑下的檔案都會對應到 webapp/resources 目錄下的檔案。 -->
	<!-- 如此可跳過 controller，可以直接去讀取這個檔案 -->
	<mvc:resources mapping="/static/**" location="/resources/" />

	<mvc:default-servlet-handler />

</beans>